NEXT_PUBLIC_SITE_URL=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
PUBLIC_CONTACT_EMAIL=
SUPABASE_CONNECTION_CHECK_ENABLED=false
EVENT_FOLLOWING_ENABLED=
EVENT_FOLLOWING_PRODUCTION_READY=
MEDIA_LIBRARY_ENABLED=
MEDIA_REQUIRED_FOR_LAUNCH=
