/node_modules
/.next
/out
/coverage
.env
.env.*
!.env.example
/supabase/.branches
/supabase/.temp
.vercel
.DS_Store
*.swp
*.swo
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.tsbuildinfo
